 <div class="main-panel ps ps--active-y" data="blue">
  <app-nav>
       <a class="navbar-brand " href="javascript:void(0)" slot="title" >{{langname}}<b> / </b>{{document.fileName}} </a>
       <a class=" btn btn-primary" href="javascript:void(0)" slot="tools" [routerLink]="['/home']">Back to files</a>
       <a class=" btn btn-success" href="javascript:void(0)" slot="tools" (click)="addSentence()">Add a sentence </a>
  </app-nav>
    
 <div class="content">
  <app-alert [message]="errorMsg"></app-alert>
   <div class="row">
     
     <div class="col-md-12" *ngIf="document">
      <app-sent-panel  *ngFor="let sent of document.sentences" [sent]="sent"     [langName]="langname" [fileName]="document.fileName" [currentPage]="currentPage"
       (deleteSent)="deletesent(sent)"
       (editSent)="editSentece(sent)"
        >
      </app-sent-panel>
     </div>
     <div class="col-md-12" *ngIf="!document.sentences.length">
          This file is empty
      </div>
   </div>
   <div class="row" *ngIf="pages.length">
     <div class="col-sm-12 col-md-5">
       <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Showing {{current}} to {{last}} of {{totalsentences}} sentences </div>
      </div>
      <div class="col-sm-12 col-md-7" data="blue">
        <div class="dataTables_paginate paging_full_numbers" id="datatable_paginate">
          <ul class="pagination" data>
            <li class="paginate_button page-item first " [ngClass]="{'disabled': 1>=currentPage}"  id="datatable_first">
            <button  tabindex="0" class="page-link" (click)="gotoPage(1)" >First</button>
          </li>
          <li class="paginate_button page-item previous " [ngClass]="{'disabled': 1>=currentPage}" id="datatable_previous">
            <button  tabindex="0" class="page-link" (click)="gotoPage((currentPage/1-1))" >Previous</button>
          </li>

          <li class="paginate_button page-item "   [ngClass]="{'active': pg==currentPage}" *ngFor="let pg of pages">
            <button  tabindex="{{pg}}" class="page-link" *ngIf="pg/1" data="blue" (click)="gotoPage(pg)">{{pg}}</button>
            <i class="page-link" *ngIf="!(pg/1)">{{pg}}</i>
          </li>
          
          <li class="paginate_button page-item next" id="datatable_next" [ngClass]="{'disabled': currentPage>=lastPage}">
            <button   class="page-link" (click)="gotoPage((currentPage/1+1))" >Next</button>
          </li>
          <li class="paginate_button page-item last" id="datatable_last" [ngClass]="{'disabled': currentPage>=lastPage}">
            <button class="page-link" (click)="gotoPage(lastPage)" >Last</button>
          </ul>
        </div>
      </div>
    </div>
 </div>
 <app-modal-popup *ngIf="showSentenceDeleteDialog"  (close)="cancelDeleteSentence()" (save)="confirmDeleteSentence()">
  <span slot="title">Confirm delete</span>
  <div slot="body">
    <p>Please confirm deletion of {{currentSentence.sentId}}</p>
    <span class="fa fa-spinner fa-spin fa-3x" *ngIf="showSpinner"></span>
  </div>
</app-modal-popup>
<app-modal-popup *ngIf="showEditSenteceDialog"  (close)="cancelEditSentece()" (save)="confirmEditSentece()">
  <span slot="title">{{bForAdd?'Create a new':'Edit'}} sentence</span>
  <div slot="body">
    <div class="card">
      <div class="card-body" >

        <div class="row"  >
          <div class="card" style="margin-bottom: unset;height: 20px;">
            <div class="card-header dropdown "  [ngClass]="{show: showAddTranslationDropDown}" style="padding:0;padding-right: 12px;">
              <i class="fa fa-cog pull-right  text-warning loading-spinner" 
               (click) ="showAddTranslationDropDown=!showAddTranslationDropDown"
                title="Add translation"
                style="cursor: pointer;"></i>
              <div class="dropdown-menu dropdown-menu-right show"   x-placement="top-end" style="position: absolute; transform: translate3d(-122px, -186px, 0px) ; top: 0px ; left: 0px ; will-change: transform;max-height:350px;overflow: auto;" x-out-of-boundaries="">
                <button class="dropdown-item" title=""   *ngFor="let lng of translationLanguages"  (click)="addTranslation(lng)">
                  <i class="fa text-success"  ></i> 
                   translate to <b style="text-transform: uppercase;">{{lng}}</b>
                </button>
              </div>
            </div>
            <div class="card-body row">
               
            </div>
          </div>
         </div>


        <div class="row" *ngIf="!bForAdd">
          <label class="col-sm-3 col-form-label">Sent id *</label>
          <div class="col-sm-9">
            <div class="form-group">
              <input class="form-control" type="text" name="sentId"   required="" [(ngModel)]="currentSentence.sentId">
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col-sm-2 col-form-label">Text *</label>
          <div class="col-sm-10">
            <div class="form-group">
              <textarea class="form-control" [(ngModel)]="currentSentence.text" rows="20" cols="60" style="height: 200px;max-height: 500px !important;"></textarea>
            </div>
          </div>
        </div>

        <div class="row" *ngFor="let trans of currentSentence.translations">
          <label class="col-sm-3 col-form-label" style="text-transform: capitalize;">{{trans.language}}</label>
          <div class="col-sm-9">
            <div class="form-group">
              <input class="form-control" type="text" name="sentId"   required="" [(ngModel)]="trans.text">
            </div>
          </div>
        </div>

        <label id="email-error" class="error" for="langName" *ngIf="errorMsg" style="color: red;" (click)="errorMsg=''">{{errorMsg}}</label>
        <span class="fa fa-spinner fa-spin fa-3x" *ngIf="showSpinner"></span>
     </div>
    </div>

  </div>
</app-modal-popup>
 <app-footer></app-footer>
</div> 