:host {
  
}

.card-header{
    h6{
        font-size:14px ;
    }
p.d-inline {
    margin-right: 5px;  
    margin-left: 6px;
    
    span{
        font-size:12px ;
        font-weight: 400;
    } 
    
}
}